#gridContainer {
    display: grid;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

#nextUpMiniGrid {
    display: grid;
    flex-wrap: wrap;
}

#plotsGrid{
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}

.cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-color: white;
}

.pageColumn{
    float: left;
    width: 50%;
}

.uiColumn{
    float: left;
    width: 33%;
    padding: 15px
}

.UI{
    margin-bottom: 20px;
    flex-wrap: nowrap;
    display: inline-flexbox;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}